body {
    background-color: rgb(119, 138, 132);
}

.game {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-right: 20px;
}

.juego {
    border: 1px solid #000;
    flex: 7;
    max-width: none;
    border-radius: 5px;
}

.opciones {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 3;
}

.start {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.start:hover {
    background-color: #0056b3;
}

.lapCounter {
    background-color: #3498db;
    color: white;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
